[2018-03-01 21:55] equilet commented on #361
Let me update and try again...

[2018-03-01 22:00] equilet commented on #361
OK, great - thanks for the nudge.  Nothing wrong here anymore.

[2018-03-01 22:00] #361 closed

[2018-03-07 05:23] equilet opened #362 "dynamically construct sub-bundle assignment"
<pre><code>
----------begin_max5_patcher----------
853.3ocuWE0jZBCD9Y8WgCO0NkSIg.B8GPetuW5bSDhdbERXfvUs2b+2axFP
QEOQOlaFu0Ka1ra1ureahuNch0JwVVk0ruO6WylL40oSl.pzJlzLdhUNcabF
sBLyZUsTJ3V1lo304o7LlDlCcPonVdp1J4tLF3h1EWPkwOkx27XIKVZ1CtDu
4N1y7czRLoUN62MKw3W4tBlwdqUT9Fq8Sml.APr54GBszpda5TsvdfIGm8W0
Za2eR1VoImugzEeSoaHjnHGHqwgy8TR7UyW62IuI2SdKlGKxKDUryR8EoIpu
hrV35FYYGwWrpdMnXsPDsO0xR4rXQMW1EANBrZUVTxpX

[2018-03-07 05:23] equilet commented on #362
feature request

[2018-03-07 05:33] equilet commented on #362
It seems that there is a bug in assigntobundlemember()

[2018-03-07 06:12] maccallum commented on #360
Bundle comparison would be great, but we’d need at least two operators, one that cares about the order of the bundle contents, and another that doesn’t.

[2018-03-29 19:52] equilet commented on #362
<pre><code>
----------begin_max5_patcher----------
754.3oc0X00aaBCE8YxuBDO0JQSwFyW6GvdduuTUY.2V2A1HvTktp9ee9CXi
z.ooqPTpTvXe4b80mqOX6vKqrbR4aIMN1ey9m1VVurxxRaRYvpqskSIdaVAt
QCyIiWVRXBGWyyDjsBs8Fhv9BFmQ1RaDR.WZesfzHVectsfaC5wSy0n4oOdE
D0aj0VRYEDgNBfNiMhmKHZvCfwaE8375rVgEYOPY2eaMISXXRXX7ZOWa+fP0
MPnm5FTVZeixmWWsRU3NCLtiiYSxQ+khiPDZHGCVbNlNIGgK77HHBch3HdRN
BV34wYhi704zlpB7yivAPbuQyHS7bEwLFbbru4PzaWxz

[2018-03-29 19:55] equilet commented on #362
https://gist.github.com/equilet/cf2093e839eb1176a17e4d532a2d8abb

[2018-04-11 21:39] jsudano opened #363 "[o.union] and [o.var] right inlets show as orange/red on mouseover despite being "cold""
The title says it all. In [o.union] and [o.var], the right inlets function as cold inlets, but on mouseover the inlet appears red/orange.

[2018-04-18 20:51] equilet commented on #350
done

[2018-04-18 20:51] #350 closed

[2018-04-18 20:54] equilet commented on #344
@kulpajj can this issue be closed?

[2018-04-18 20:56] kulpajj commented on #344
sure this one was addressed.  Thanks.

On Wed, Apr 18, 2018 at 1:54 PM, Jeffrey Lubow <notifications@github.com>
wrote:

[2018-04-19 04:26] #344 closed

[2018-04-25 11:42] ramagottfried opened #364 "o.display / o.compose automatic resize issue in max8"
textbox based GUI objects seem like they're not resizing correctly in max8 -- previously the box would elongate when data with more lines was received -- currently this seems broken in max8, max7 is ok.

[2018-04-27 20:02] #348 closed

[2018-05-07 19:26] wagne342 opened #365 "o.messageiterate"
I accidentally fed an o.messageiterate object into another o.messageiterate object and was surprised to discover that this caused max to crash.  Shouldn't iterating a list that is one message long just return that message?

https://gist.github.com/wagne342/7df0c48daa21d0eb670d9d14025148c0

[2018-05-08 07:02] maccallum commented on #365
I just checked in a fix for this. o.messageiterate wasn’t handling unbundled messages which is what it produces. Should be good now.

[2018-05-08 18:09] kulpajj opened #366 "feature request: o.compose"
Can there be another outlet that simply reports a bang when its content has been altered / or just when it was previously on focus and then becomes off focus?

[2018-08-01 14:36] ramagottfried opened #367 "documentation: specify max sdk version(s)"
I just did a fresh install on my computer and notice that there are references to the max6 sdk in the xcode project -- probably that's correct if we are still supporting max6 -- but we should add that to the dev notes if it's needed.

[2018-08-10 08:40] nesdnuma opened #368 "Need for a 32bit output option within 64bit objects or a specific conversion object"
Hello,

In Max7/Win64, I've just discovered that o.prepend transforms the argument of a message in a 64bit float. However, some OSC receivers, such as Reaper can't use doubles. So it might be interesting either to add an option for 64/32 bit handling in all odot objects or add a new objet to convert the argument type for a full message, already structured with tags.

[2018-08-10 11:54] ramagottfried commented on #368
hi @nesdnuma, thanks for your note -- Odot supports a wider variety of types than the baseline OSC spec, so for use with Reaper, or other generic OSC libraries, you may need to run the bundle through `o.downcast` before sending out to OSC 1.0/1.1 receivers, which will downcast Odot to OSC 1.1 (and doubles to floats).

[2018-08-10 14:34] nesdnuma commented on #368
Hello ramagottfried, thanks for the infomation. Maybe it should be written in good place in odot overview patch.

[2018-08-10 14:34] #368 closed

[2018-09-20 06:42] equilet opened #369 "error in documentation for o.cond"
documentation currently states that a semicolon delineates expressions, but in fact it is a comma `,`

[2018-10-01 04:13] wagne342 opened #370 "Max8 compatibility issues"
• o.display no longer automatically resizes to fit data in Max 8.  This may lead the user to erroneously surmise that odot isn't working properly.  Indeed, I have tried to replicate some of the errors reported in the last few days but found that things were actually working perfectly, just not displaying properly.  @kulpajj Please feel free to set me straight on this.

[2018-10-01 05:27] ramagottfried commented on #370
already fixed, we just need to make a new release.

[2018-10-01 05:34] ramagottfried commented on #370
@equilet I guess I'll leave this issue open until we make a release?
p.s. thanks for noticing!

[2018-10-01 05:39] ramagottfried commented on #370
actually, I think it's better to separate the bug issue from the release update issue. so I'll go ahead and close this since the bug is fixed.

[2018-10-01 05:39] #370 closed

[2018-10-01 05:40] ramagottfried commented on #364
fixed: https://github.com/CNMAT/CNMAT-odot/commit/ab132671cb10c44e73fdc1adadef89e9eafafff7

[2018-10-01 05:40] #364 closed

[2018-10-01 07:43] maccallum commented on #370
Just out of curiosity, what was the fix?

[2018-10-01 07:50] ramagottfried commented on #370
it was pretty weird actually — Jeremy B helped me find it, but it's kind of a roundabout bi-product of setting editwhenunlocked to be true, at this line here:
https://github.com/CNMAT/CNMAT-odot/commit/ab132671cb10c44e73fdc1adadef89e9eafafff7#diff-564ab72ee12970005592385a08154ba3R1029

the only difference in behavior is that you can highlight the text in edit mode, which seems totally reasonable.

[2018-10-01 10:54] maccallum commented on #370
Oh good, glad it was something straightforward.

[2018-10-01 11:01] ramagottfried commented on #370
lol! I was more expecting the fix to be something that had some relation to the word "resize" or something... but anyway, it's working, so no complaints here!

[2018-10-01 18:19] equilet commented on #370
Yes, I noticed this too, along with Jon Kulpa.  Thanks for dealing with it @ramagottfried - I've been out of town and unavailable.  Will push a new tag soon associated with a release and will test.

[2018-10-01 19:41] wagne342 commented on #370
That's what I call same day service.  +1 to allyalls.  So far all of my odot patches are behaving as expected under Max 8.  Quick question, should I submit an individual Github issue for each Max 8 compatibility problem, or should we try to consolidate these issues under one umbrella.  My sense is that each problem requiring a fix should get its own issue.  No?

Wishing you were here. -J

[2018-10-01 19:46] ramagottfried commented on #370
: )  actually I fixed that a few weeks ago!

yes, I think that's best to isolate the issue reports for one issue each, that makes it easier to tackle, and also, it feels so good to close them.

are you seeing some other compatibility issues?

I'll always be there a little bit psychically!

[2018-10-01 22:10] wagne342 commented on #370
Solid.  The only report so far from the troops on the ground is related to o.collect not functioning properly in Max 8.  However, I have yet to replicate this error and I suspect it may be a display issue.

[2018-10-02 00:53] equilet commented on #370
The o.collect "issue" is a red herring - the bug was actually in o.display

[2018-10-03 06:22] ilzxc opened #371 "dependency wrangling"
Hello :)

I've tried to rebuild odot from scratch after purchasing Max 8 just now. Seems like it's a good time to prune the projects a bit:

1. in the odot project, we have dangling dependencies on
    * ../max6-sdk
    * ../max-sdk/c74support
    * ../c74support
2. I've not managed to build `libomax` until I manually removed all `#include <Carbon/Carbon.h>` preprocessors and ensure that in additi

[2018-10-03 06:25] ilzxc opened #372 "Duplicate Symbols (Build Failure)"
On build, getting one error when linking `o.schedule`:

[code]

I do not recall having `pqops` back when I was on the project, so any clarity regarding this would be most appreciated.

I'm on 10.13.6 and trying to compile using Xcode 10.0 (freshly updated).

[2018-10-03 06:30] ramagottfried commented on #371
hi @ilzxc !
for now best to run `make` from the src directory.

do you get errors there?

[2018-10-03 06:34] ramagottfried commented on #372
hmm, weird -- builds fine here.. you need pqops, it should already be in the xcode project -- linked to the file in the o.schedule folder.

[2018-10-03 06:36] ramagottfried commented on #372
fwiw I'm on xcode 9.4.1

[2018-10-03 06:38] ilzxc commented on #372
They're both in the project, and the issue is that both contain `_messages` and `_tmp` symbols that the linker can't resolve. Doesn't matter if I build from `make` or from Xcode. I'm relatively sure that one of them is unnecessary for a target (which may have been lost when migrating the project to new Xcode). Is it the case that `pqops` is used in pd external but not in the Max one?

[2018-10-03 06:41] ilzxc commented on #371
This was all done with the command line. My current SDK is 10.14 due to Xcode taking an update. The `Carbon` include was a hard error causing `libomax` builds to fail (note that removing the carbon include builds without complaints, but I have no way of testing if that's actually right because Xcode 10 doesn't want to build odot due to #372.

[2018-10-03 06:43] ramagottfried commented on #372
strange -- yeah, sounds like Xcode 10 might have screwed up your project.
pqops is used by Max also.

seems like xcode is doubly linking on your system for some reason.

[2018-10-03 06:45] ramagottfried commented on #371
So has Xcode 10 removed the Carbon from the Frameworks folder?

[2018-10-03 06:53] ilzxc commented on #371
For `libo` issues after update:

[code]

I commented out `#include <Carbon/Carbon.h>` from all of the `libo` c files and it seems to be compiling with a handful of warnings but no errors that I can tell.

Note that `libopd` is unaffected by these issues.

[2018-10-03 06:55] ilzxc commented on #371
The issue persists both if using the default "give me the latest SDK" alias (`MacOSX.sdk`, default in `libomax` Makefile) as well as the explicit `MacOSX10.14.sdk`, just in case that's a question for anyone.

[2018-10-03 06:56] ilzxc commented on #371
Running `make` for `odot` just calls `xcodebuild` on all targets, so it's identical to building with Xcode, just heedlessly.

[2018-10-03 07:11] ilzxc commented on #372
The issue is definitely in the codebase, since you're including `pqops.h` in `o.schedule` AND it's also included by the `pqops.c` and since the header declares `messages` and `tmp` it seems very odd to me that this ever compiled without some cleverness. I just moved the declarations to be global in `pqops.c` from the header and odot is compiling correctly.

I guess if an update to Xcode 10 breaks

[2018-10-03 07:19] ramagottfried commented on #372
oh wow, yeah bizzaro, pqops.h doesn't have a double include `#ifdef` or `#pramga once`, I'm surprised that ever worked!

[2018-10-03 07:20] ramagottfried commented on #372
maybe something in clang changed that's being less permissive...
but anyway, yes, that seems like a bug.

[2018-10-03 07:49] ilzxc commented on #372
I’m happy to submit a pull request if needed as I have no way of testing this on an older OS X. Alternatively, we can just close this if you don’t mind submitting a fix for this whenever it becomes necessary.

Hope all is well and best wishes!

[2018-10-03 08:19] ramagottfried commented on #372
thanks ilya! best wishes to you too!

I just pushed what should be a fix for the pqops double include issue, added an `#ifdef` check, and also moved the globals to the .c file for good measure.

as for the Carbon issue, I guess let's wait for a while, as I'm nervous about Xcode 9/10 compatibility. And I'd rather not merge the two until it's really necessary.

If you want to create a pull request t

[2018-10-03 08:19] #372 closed

[2018-10-24 18:21] dappertutto opened #373 "/address-naming conventions"
Is there documentation anywhere for the proper, best-practices, and excluded naming conventions for odot's addressing? o.gui.attach excludes hyphens but o.pack doesn't mind.

<pre><code>
----------begin_max5_patcher----------
602.3ocyVsrbaBCEcM7Uvn0DBHwC69Az0cealLBrhsRAIFIgqcyj+8JjfZbb
BgDrc6FKqqtVGcO5btVO45.x46HRf2W79tmiyStNNlPsAb5l6.pv6JJwRSZ.
dvJprtDuG3aWUQ1oLqbqZCUp+RTn+OX2hYqtQsgKI5Ho84VRYjBd

[2018-10-25 10:04] ramagottfried commented on #373
ok fixed, minus signs are now allowed within o.gui.attach OSC addresses

[2018-10-25 10:04] #373 closed

[2018-10-31 23:52] equilet opened #374 "o.select and greedy behavior"
`[o.select /model]` matches `/model` and `/model/foo`.  Should it?

[2018-11-01 08:44] maccallum commented on #374
Yep. If it was o.route, /model would produce a bang, and /model/foo would produce /foo.

[2018-12-02 01:40] equilet opened #375 "crash when attempting to grabe length of address names"
...seems like this is not a copy but maybe a reference?  Not sure actually....

<pre><code>
----------begin_max5_patcher----------
720.3ocyWt0aaBCEG+YxmBK+TqDMEatDXR6087deqJx.tozA1LroJcU8697E
HWFnDRaZVkhrvGNGe7+i+cbRdYlCLkulJffu.9Avw4kYNNFSZCNcycfUj0Yk
DgwMXFuphxjPW66jz0Ri8TNup2Hqsh2JKoRSHdcVKxMNxSe7Fjeuq0DY1CEr
UKanYR69HJNbtmKHvSOtHQOhUOCta6pWv5Wbj11qyloGbemRfvxAD.xE656N
e9lcXCUn7lHK3rkkELZFukYB.

[2018-12-02 01:41] equilet commented on #375
[code]

[2018-12-03 18:04] maccallum commented on #375
Yeah, no crash for me either on 8.0.1. Same behavior as Rama—it prints an error about subtracting a number from a string.
On Dec 3, 2018, 12:28 AM -0800, rama gottfried <notifications@github.com>, wrote:

[2018-12-11 19:39] superbigio opened #376 "reverse of [o.dict]"
The [o.dict] object allows to turn an OSC hierarchy into a Max dictionary.
Does an object to go from a Max dictionary to an OSC hierarchy exist?

[2018-12-11 19:40] equilet commented on #376
Hi Luigi - you can pass a dictionary to most odot objects.

Cheers,
jml

[2018-12-11 19:40] #376 closed

[2018-12-12 06:45] superbigio opened #377 "feature request: o.display"
I constantly find myself having to resize the object depending on whether the messages displayed are long or short, wide or narrow. This is partly due to the fact that when resizing o.display in edit mode the object snaps to the vertical size of the last message received. Is it possible to consider implementing scrollbars and have the object keep its vertical size constant?

[2018-12-21 22:14] equilet commented on #371
I'm on OSX 10.14.2 attempting this.  When I comment out the Carbon.h includes (thanks for this tip, @ilzxc) I have a remaining issue, which is that I get the following error:

`In file included from omax_util.c:53:
./omax_util.h:43:10: fatal error: 'm_pd.h' file not found
#include "m_pd.h"
         ^~~~~~~~
1 warning and 1 error generated.`

Now, if I simply comment the ifdef regarding OMAX_PD_VER

[2018-12-21 22:30] #374 closed

[2018-12-21 22:34] equilet commented on #329
@ramagottfried can this be closed?

[2018-12-21 22:36] #365 closed

[2018-12-21 22:38] equilet commented on #316
@ramagottfried @maccallum can this be closed?

[2018-12-21 22:41] equilet commented on #340
did this testing ever occur?

[2018-12-22 11:33] ramagottfried commented on #371
Looks like you need the pd source — I’m going to be going through this setup too (next week after the holidays) so I’ll report back when I have more practical info.

Sent via satellite

[2018-12-30 18:45] ramagottfried commented on #371
ok, just getting started on a clean Mojave install and got the odot build process working.

libopd gets built also when you run the libomax makefile, so you still need the pd source, here's the link: https://github.com/pure-data/pure-data (put in the same folder with the max and libo sdk as usual).

I had to comment out all of the Carbon.h `#include`s in libomax -- and then I also had to open the

[2019-01-05 04:14] equilet commented on #371
Thx.  There should be a mention of the pure data dependency in the build instructions of `libomax`.  This wasn't always the case, and there is nothing telling the user otherwise in the [readme](https://github.com/CNMAT/libomax/blob/master/readme.md).  I don't think we should be supporting anything earlier than M7 at this point.  I can update the md file in a sec...

[2019-01-05 18:42] equilet commented on #371
going back to @ilzxc's original post, I think I need to spend some time working out the transition to removing the m6 dependency in its entirety.  More soon...  I've currently removed the max6 sdk references from the xcode project and am working to iron out the kinks.

[2019-01-05 19:52] equilet commented on #366
@kulpajj can you clarify the use case?

[2019-01-05 20:11] kulpajj commented on #366
hi Jeff.  Sure.  When I posted this, I was working on my o.saved_bundle widget I give to my students that works hand-in-hand with Rama's o.gui.attach.  My widget thing allows someone to save all data in any gui on the page as a subbundle packaged up under a preset /ID, and to be able to recall that, edit, and resave as they wish.

o.gui.attach automatically sends the new bundle anytime any GUI is

[2019-01-05 20:17] kulpajj commented on #366
FYI, I believe I did work around this by other means.  Something as in: when a user presses save as N preset, the system checked in with the o.compose first in case anything had changed.  The request was just a thought I had with Jeremy back when I was working on this.

[2019-02-13 09:19] ramagottfried opened #378 "assign() oddity with wildcard"
when assigning to a wildcard, the message used to assign then value seems to get eaten by assign(), but not with regular addresses

<pre><code>
----------begin_max5_patcher----------
541.3ocyU00aaBCE8Y3WgkeZahkhMPZZk1q6489RUjCXRcGXirMQrU0+6y9Z
Xk1jnkNsLMIjQ95602ONmC7XbDdqZfavnaQeEEE8XbTDXxaHZbeDtkMT1vLf
aX0hRUamxvwIgSs7AKbxUevsRlL2wrk2Kj61n4k1PBxxVsHMAkQu1+hTj5eQ
yWjhtaLnZkzVyJ4d+SGsI6aExFtERO8Yip

[2019-02-13 09:22] ramagottfried commented on #378
ah, actually I think for some reason the wildcard is assigning a reference, not the value -- so if you delete the value after assigning, it deletes the wildcard too:

<pre><code>
----------begin_max5_patcher----------
598.3ocyV00aZCCE84jeEQ9o1pLH1wIEpzdcOu2GUHShg5tfcThChsp9ee1W
mLBExDsBXUB4He802ONm6gjW78PKTa40nfGB9Qfm2K9ddfIqAu18dn0rsYEr
ZvMjZTlZcopliBcmVxzYOIjqlWwyztHkLIYTTXPL4d6CbRj8AgNJJ3w1KsTI

[2019-02-16 11:39] ramagottfried commented on #378
ok found it, the problem is that the assign function looks up the message to assign to via `osc_bundle_s_lookupAddress` which in turn calls `osc_match` which matches the wildcard to the first message in the bundle, whatever it is, for example:

<pre><code>
----------begin_max5_patcher----------
509.3ocwT1riaCBDG+r8SAhSsUtYMD67Qe.54duYUDwljks1fEfib6p8cuvf
cWmTuJtsRakhfvvelgYlelmhivGTcbCF8IzWQQQOEGE

[2019-02-16 12:47] ramagottfried commented on #378
edit: so, actually there are two issues: (1) the address lookup routine shouldn't use pattern matching, and (2) it looks like the assignment is by reference but should be by value.

so far not seeing the where the problem is for issue 2.

[2019-02-16 16:54] ramagottfried commented on #378
ok, actually issue 2 was the same problem with using osc_match, but in the delete function.
just pushed an update to libo which fixes both issues by using a simple strcmp instead of osc_match for assign and delete.

[2019-02-16 16:54] #378 closed

[2019-04-30 10:34] RumAngelov opened #379 "o.downcast is not present in the make-release Windows scripts"
Hello, I was looking for the o.downcast object in the releases, but it was not included.
I just downloaded and recompiled the o.dot library and realized that it was just missing in the make-release scripts for Windows.

Was this intentional?

[2019-05-09 17:09] wagne342 opened #380 "Feature request: syntax highlighting in o.expr.codebox"
I've been writing very long lambda functions and I'm finding that I spend an inordinate amount of time tracking down basic errors in o.expr.codebox.  I know this comes up all of the time, but can we please implement some form of basic text/syntax highlighting in the codebox?  Even color coding parentheses and brackets would be a huge step forward.  Extra points if we can build in some key commands

[2019-05-09 17:33] ramagottfried commented on #380
hey jeremy, totally agreed -- it's hypothetically possible do add syntax highlighting for o.expr.codebox using the MaxSDK, and of course things like the gen.codebox have that, ... but it might be easier and more flexible to make a syntax highlighting scheme for an external editor like atom, sublime, vs-code, textwrangler, etc. -- probably something like a javascript scheme could be edited to allow

[2019-05-09 18:14] equilet commented on #380
Longstanding issue and talked about since ODOT's first builds.
It's trivial and the code already exists in a sense (otherwise expr codebox wouldn't be able to parse text input and do something meaningful with it).  The larger issue is twofold:  o.display and o.compose also draw bundle text to the screen, but we wouldn't want those to be drawing all color combinations, as this would introduce CPU t

[2019-05-09 18:46] wagne342 commented on #380
From a workflow standpoint, it would be vastly preferable if the thing were fully self-contained.  Even if the highlighting turns off when the codebox isn't being edited, it would make the thing much easier to troubleshoot, and I think ultimately, more teachable.  If, in the meantime, we could provide hooks into/out of an external editor, that would be progress.

[2019-05-10 00:59] adrianfreed commented on #380
I suspect color is “free" in modern computers and OS’s.

[2019-05-10 04:40] ilzxc commented on #380
It’s most certainly as free as not having it if you’re drawing in Max in the first place...

Since you probably don’t want to use the tokenizer we have for the language itself, the syntax highlighting rules can absolutely be compiled away from display and compose (those are different binaries anyway in the way we’ve been building odot). But even if they weren’t, even with the most naive, call-it-e

[2019-05-10 05:51] wagne342 commented on #380
I am aware that using an external text editor is easier than coding a new
feature.  That is why this is a feature request.  ;-)  But seriously, it
would be nice if we put a little shine on odot with thoughtful features
that encourage adoption and usability.  If I open a text editor, I may as
well be coding in js or java or c.  Give me a reason to stay in odot.

On Thu, May 9, 2019, 9:40 PM ilya <n

[2019-05-10 07:53] ilzxc commented on #380
Forgive me if this came across as patronizing: was not my intent... I also failed to communicate that *turning on the parentheses matching in the Max codebox may be a lot easier than writing your own* was what I was thinking of.

I have no cycles to currently spare, sadly, but I did find the old tokenizing code specifically for syntax highlighting. I have no idea what it would take to make it usab

[2019-05-10 17:12] maccallum commented on #380
Iirc, at the time that the codebox was written, the Max SDK didn’t include the gen codebox—not sure if it does now or not, but it could be worth reaching out to someone at Cycling to see if they’d be willing to share some code. As Ilya says, I wouldn’t do this from scratch, and I certainly wouldn’t do it in the box that o.expr.codebox currently uses if that’s even possible.

John
On May 10, 2019,

[2019-05-15 21:01] ilzxc commented on #379
To the best of my knowledge, this was an honest mistake.

Sorry for the delay in getting back to you.

[2019-06-04 19:13] wagne342 opened #381 "o.io.slipserial"
I'm having a devil of a time finding o.io.slipserial.maxpat.  Does it still exist somewhere?

[2019-06-05 03:22] adrianfreed commented on #381
It doesn’t appear to be where I left it in the repo, but there is a z_o.io.support folder kicking around from 2016 that has it.

[2019-07-15 12:59] mzed opened #382 "o.pack"
I just ran into a funny inconsistency when trying to use o.pack.

I think this is related to #2

 Here’s a patch:

<pre><code>
----------begin_max5_patcher----------
695.3ocyWt0aaBCE.9YxuBKq8XVFlagje.6489TUkC4zV2B1HiIKSU8+97M5
xVocNijzpHAhSN3y46bylGmEg2H1CcXzZz2QQQONKJxJxHHx+bDtgtupl1YU
CWIZZ.tBO28eJXuxJmrF0H1AH0crtg+rUBcZcoJlfecMiCUhdtU8TuF79FFu
FT10l3Ex1ZWQwl6+bxJ7u0TzqFTM1KcS+lM0vgurSRGaKbncZop

[2019-07-15 15:15] mzed commented on #382
I understand this now, thanks to John. Wekinator doesn't like doubles, which is what I'm getting from o.pack.  Unfortunately, o.downcast isn't part of the Windows release.

[2019-07-15 15:34] ramagottfried commented on #382
hey @mzed I think o.downcast should be in the windows release, but in the /dev folder which isn't automatically added to the package search path. do you see it there?

I think probably we could move o.downcast out of the dev folder in the near future. If I remember correctly, we recently added a blob type to deal with sub bundles. but probably there are some other pending type handling questions.

[2019-07-15 15:49] mzed commented on #382
Super. I pulled it from /dev.

Messages created using `o.pack -> o.downcast` are understood by Wekinator. OSC 1.0, ftw.

[2019-07-15 15:49] #382 closed

[2019-07-15 15:51] ramagottfried commented on #379
Hello all, just had a minute to check on this, and it looks like o.downcast is in fact included in the release, and also in the make-release scripts, but it gets installed in the packages's `/dev` folder which is not automatically added to the Max search path. Maybe this was the problem?

Probably we should add some clearer documentation about the dev folder.

I'll close this now, but feel free to

[2019-07-15 15:51] #379 closed

[2019-08-26 01:00] equilet commented on #381
It's included in a few places now:

1. Music and Computing lib
1. CNMAT o.io lib (experimental folder)
1. various personal projects

[2019-08-26 01:07] equilet commented on #381
@wagne342 if you're satisfied w/ these locs, please feel free to close.  Or, if I should put it somewhere that makes more sense for your use case, I can do that too.  Technically the place it "should live" is in 1/2 because the MC lib depends on it and o.io is mothballed.  We don't have a separately active repo for o.io things that we don't use as much.

[2019-08-26 01:08] equilet commented on #381
I'm closing this for now, but if there's something else I need to do, feel free to open back up.

[2019-08-26 01:08] #381 closed

[2019-08-27 06:22] ramagottfried opened #383 "dev folder: documentation and visibility"
I think we need some clearer documentation about the dev folder, since it's easy to forget it's there. How do users know to add the dev folder if they want to use those objects?  At the moment I don't think there are any mentions of it.

related to issues:
#274

and #329
and #149

[2019-08-27 06:32] ramagottfried commented on #149
Coming back to this topic after a long time, but it's still an important issue to try to get as right as we can.

I'm thinking, we should have some kind of system for moving objects out of the `dev` folder after some time (years?). When does an object move out of the dev folder? I suppose this points to setting up some object testing guidelines.

Another thought is that the word `dev` implies that

[2019-08-27 07:21] ramagottfried commented on #383
sounds good, maybe it should be in the overview -- and also maybe in the git readme, or anywhere where people are reading about how what the package contains

[2019-11-06 10:04] erra12 commented on #381
Can somebody post the link to get the o.io. library - i just cant find it.
Why isn't it included in the ODOT, OSCuino or OSC master download?

[2019-11-06 20:27] equilet commented on #381
Hi @erra12 - the slip serial abstraction offers slip encoding/decoding specifically.  If you have further questions feel free to get in touch at jlubow [at] berkeley [dot] edu - thanks!

[2019-11-20 09:43] ramagottfried opened #384 "o.collect clear"
a clear message for o.collect would be useful

[2020-02-10 16:05] matcham opened #385 "o.collect turns floats into 0."
when a bundle created with o.collect is parsed by udpreceive (without the CNMAT argument), floats are turned into 0.
If the bundle passes thru o.route : floats are parsed as expected.

Using openSoundControl instead of o.collect : everything works fine

please see patch below that demonstrate the issue

<pre><code>
----------begin_max5_patcher----------
1281.3oc2ZssaiaCD8YGf7OHPzGcc4Ppq8sEAXA5CsaA

[2020-02-10 17:10] maccallum commented on #385
Hi Mathieu,

The odot objects in Max default to using 64-bit doubles by default, instead of 32-bit floats, so this is expected behavior, even if it seems a bit weird. You can send your bundle through o.downcast which will, among other things, convert all doubles to floats.

Best,
John
On Feb 10, 2020, 5:05 PM +0100, Mathieu CHamagne <notifications@github.com>, wrote:

[2020-02-10 18:04] matcham commented on #385
Thanks John for this fast reply

ok, I understand the problem...
adding o.downcast after o.collect does the trick, thanks.

best regards
Mathieu

[2020-02-10 18:04] #385 closed

[2020-02-10 18:12] matcham commented on #385
BTW : there is not o.downcast.maxhelp in the latest release
(it used to be in a "dev" folder in some previous release)
(but the external do work fine)

[2020-02-11 08:20] maccallum commented on #385
Strange about the help file—I’ll look into it. Here it is just in case you need it.

<pre><code>----------begin_max5_patcher----------3320.3oc6cs0aaiiE94jeED9oTrNthWDoTwNKlEyhceZvL.SeZaKBjsTRzrxRdkjaS1A8+9xaxVxVWnbLscmlhFGKQc4vOdNemCIOj4Ot9pIyydJpXB3cfO.t5p+35qtRdJwItRe7USVF7zhjfB4kMIM5KYy+8ISUEUF8To7zq.kwKiJCd31xnhxphSWuLacYRTo7dczmcUP4hGiSe3t7nEkp2MESl4LE354J9EzwQ7KD+Svmz2Tbn78ve22BY0d9wos93ix00

[2020-02-12 11:11] matcham opened #386 "o.downcast.mxo is missing in latest release"
in latest release there are
o.downcast.mxe
o.downcast.mxe64

But Mac version is missing : o.downcast.mxo

the help file o.downcast.maxhelp is missing as well

[2020-02-12 12:37] equilet commented on #386
@matcham thanks for the report. I’ll look into this when I get back into town this week.

[2020-04-08 17:41] equilet opened #387 "quickhull() seems broken"
odot version v1.2-20_beta_3.1-8-g039c9d2 (compiled Thu Dec 19 22:23:18 PST 2019)

[code]

<pre><code>
----------begin_max5_patcher----------
2048.3oc0Z08iihiD+4z+UXwScuCSZrCPfSZjtS2o6o6g6k6odZE4.tSXWBl
Fb5MYVs+uuk+.BPfDRljY2SsDzoJ65ietb4xF+aOLwZIeGqzB82PuflL42dX
xDEIIgIleOwZCcWTJsT0LK9z3jx7T5dKaMWAamPw44BoXlO2FQBrQdtv6Paj
K7+ylA+1F4K+IwFEB+eHzLLzDOfEwAZBvK.nAs1GnHExq1eM64BZLHUmoD0O
1U9lTGNSwNPCcl5

[2020-04-17 20:53] dappertutto opened #388 "multiple arguments for o.prepend"
i've got some bundle and i want it to go to not just o.prepend /1, but to /2 /3 /4 -- thoughts?

[2020-04-17 21:54] equilet commented on #388
I'll DM you

[2020-04-17 21:54] #388 closed

[2020-05-02 03:10] equilet opened #389 "bitshift operators"
`<<` and `>>`

[2020-05-05 19:57] arthur-parmentier opened #390 "o.timetag help patch example issues"
Hi,

This is what I get want using o.timetag within its help patch.

![Capture](https://user-images.githubusercontent.com/37796888/81110111-646d6000-8f1b-11ea-95a8-5f13dc181268.PNG)

/nevertrue happens to be always true, and I can't see /resolution/estimate value appearing...

[2020-05-06 20:54] equilet commented on #390
Hi Arthur, can we get some more info about the system that this is running on?  Please make sure to include system information about the version of ODOT you're using, Max., etc.  Thanks!

[2020-05-06 20:55] equilet commented on #390
If it makes it easier, you can go to `Max -> About Max -> copy support information to clipboard`

[2020-05-06 22:38] arthur-parmentier commented on #390
Sure, there it is:

	"version" : "Version 8.1.3 (da28f19) (64-bit windows)",
	"platform" : "windows",
	"arch" : "x64",
	"osversion" : "Microsoft Windows 10 Professional (build 18362), 64-bit",
	"samplerate" : 48000,
	"iovs" : 32,
	"sigvs" : 32,
	"scheduler_in_audio_interrupt" : "off",
	"audio_drivername" : "ad_mme",
	"audio_driver_subname" : "",
	"eventinterval" : 2,
	"schedinterval" : 1.0,
	"over

[2020-05-07 04:31] equilet commented on #390
@arthur-parmentier could you go ahead and install the latest version found [here](https://github.com/CNMAT/CNMAT-odot/releases/tag/v1.2-20_beta_3.2) and report back as to whether or not that fixes your issue?

Thanks!

[2020-05-07 07:38] arthur-parmentier commented on #390
![Capture](https://user-images.githubusercontent.com/37796888/81267009-0ee1a200-9046-11ea-83ff-9b6360029963.PNG)

Here it is: o.disply is fixed, nevertrue is still true.

PS: I did not try the beta first because there was Mac OSX in the name. It's good to keep them well named so that we are not confused by the zip file name!

[2020-05-07 07:42] equilet commented on #390
Thanks for catching that (fixed).
Regarding `/nevertrue`, we're currently investigating this and will be back shortly.  Thank you for the report.

[2020-05-10 01:57] equilet opened #391 "bug with int* typecasting"
int8(), int16(), int32(), and int64() seem to have an issue casting...

<pre><code>
----------begin_max5_patcher----------
403.3ocmR00SCCBE841eEDdQMo1txZYclrW8YeWMFrioL6fFJcoyk8eW3R6b
SqIK9Bj6gC2ONm69v.7qpNdCFcG5QTPv9vf..xADzGGf2v5JqXM.MrJdonot
hsCG4e0v6LvKIqrmShSISyxmE8jLQHMIEVrqFnVIj7RUqD3S5AksaTslJtAx
eZO5JkzzH9jCXYwS5gEK8MwqquMkRFxq++lc0b+jfwnmOIOqXkvCCIolYJeW
He6EMuz3+Q1baIPo4T2EYhqfnbR7ji4w1

[2020-05-10 02:00] equilet commented on #391
{
	"version" : "Version 8.1.3 (da28f19) (64-bit mac)",
	"platform" : "mac",
	"arch" : "x64",
	"osversion" : "Mac OS X Version 10.14.6 (Build 18G4032) x86_64",
	"samplerate" : 48000,
	"iovs" : 512,
	"sigvs" : 512,
	"scheduler_in_audio_interrupt" : "off",
	"audio_drivername" : "Core Audio",
	"audio_driver_subname" : "",
	"license" : "permanent full",
	"machine_id" : "06e024609662aa9dc4f572b2cdddd559

[2020-05-18 23:17] equilet opened #392 "see also: recursion demo"
`o.expr.codebox.maxhelp` -> `higher order functions 1` -> "see also recursion demo" should be a link

[2020-05-30 17:36] equilet opened #393 "o.expr.codebox: det() not implemented"
returns 0

[2020-06-05 07:14] equilet opened #394 "o.expr.codebox - imu()"
consider deprecating or removing `imu()`

[2020-06-07 20:32] equilet commented on #386
@matcham please find `o.downcast` in the `externals` directory for the [current release](https://github.com/CNMAT/CNMAT-odot/releases/tag/v1.2-20_beta_3.2).  I think what you'll find is that this object was included in the `/dev` folder in all previous releases, but as such you'd need to manually include those folders when installing our package.  This will be addressed in a future release.  Thank

[2020-06-07 20:32] #386 closed

[2020-06-13 00:10] equilet opened #395 "o.compose refresh bug"
`o.compose` does not recover from a red state after being set in the right inlet externally.  I know there's a political joke in here somewhere...

<pre><code>
----------begin_max5_patcher----------
671.3ocyVsziZCCD9b3WwHeYujxRBO29CnpG68pUHmjAhoI1Q9wBaWs+26XG
ytPQrfnpp8BFOu778MyXmWFjvJT6PCC9L7cHI4kAIIAQdAIw8IrV9txFtIXF
qT01hRKKsWmE2YCx2hfAQvVSq7V5OjBn.aTaSgBmEZEqqs.tqCKsjUbuxRty
z6RoRZonZfZ9SHoAkf

[2020-06-13 00:12] equilet commented on #395
I should mention that this problem may exist in another issue thread but I couldn't find one...

[2020-06-17 20:18] equilet opened #396 "casting functions"
`float32()` and `float64()` don't seem to convert a timetag properly.

Please also look at all of the integer casting functions....

[2020-06-17 20:18] equilet commented on #396
<pre><code>
----------begin_max5_patcher----------
670.3ocyW0zbaBCD8L9WgFcJcJEijP7QmoW64duSmLxXEWRwRLBQhSyj+6Ur
Xhq+plPno0GfQRqza2me6yxONyCuPuQViQeD8Ujm2iy77foZmva6XO7Zwl7R
QMDFdQi0pUX+tkTMqKTkRKrFY6jUBa92KTqt1HyscmMkSBB8Qjr1mzn9mnus
6bzM1COntorOTI6NE7BgZE94MUrDxH8ha+PJ9YrMh0RqzbsTIVTBaLrcomlM
q8g+.KSk7d241epV4FnPvuGQBceBNY8SuX8SYwAIwwLNmDERRiyXDeDmBKQd
4zwMkZg8j7QTeBdiVYqK9IrChChQPE5.4lJSPtdorMvC

[2020-06-17 20:41] equilet opened #397 "jn() and yn() hanging"
these two functions seem to cause Max to hang if given a value larger than 0 for argument 1:

<pre><code>
----------begin_max5_patcher----------
521.3ocoT0zbaBCD8L7qPiN0OvNBAl.clbsm681LdjAkD4BRLBgGRyj+6UZk
Hgz3lZmNCVh8CsuUu8geHNBuSMwGvnuf9NJJ5g3nHvkyQTvNB2wlpaYCPZX0
5ZUWuZfiS7QM7ICD4BMqq29BYcU4bP0nokaL22y8XfwnqCg5Yl56Dxa2p40F
eTJIeMIAkdIA11.azh0jmNzMJo4FVMTMRvmbrSHsn.8GM3Tz361c6WkRvKN8
f3WvoScP8TA

[2020-06-22 11:53] stefademo opened #398 "Unsigned odot externals not loading"
Hello,
the odot package is no more loadable, apparently they are unsigned.
Please have a look at the Cycling '74 page https://cycling74.com/articles/using-unsigned-max-externals-on-mac-os-10-15-catalina

I tried to disable the xattributes, but with no success.
I'm running the following configuration.
Thank you for your help,
Stefano
{
	"version" : "Version 8.1.5 (9359645) (64-bit mac)",
	"platform

[2020-06-28 17:11] maybites opened #399 "Transforming OSC message to Max message is faulty"
Hi

consider this patch:

it uses the CNMAT's OpenSoundControl and Odot packages. When creating an OSC bundle with [o.compose] and the bundle contains a float, when creating a Max message with the help of [OpenSoundControl], the float value is set to 0.

interesting: when transfering it into a dict and getting the data out it is still the correct value.

<pre><code>
----------begin_max5_patcher---

[2020-07-01 09:30] mzed commented on #399
This has come up a bunch of times. o.dot promotes the float to a double, which isn't a valid Max type. You need to go through o.downcast before sending to OpenSoundControl.

[2020-07-01 09:41] mzed commented on #399
<pre><code>
----------begin_max5_patcher----------
1019.3ocyX08aaBCD+4To9+.hmyX1lOLz2lpzdcSZ6sooHGvMycfMBLosaZ+
uO+AzlzFHtcjtlDLJmM9te+746NyuO+rE9qE2Ra88tv6adKV7akjEFYZIKFD
rvuhbadIo0LPeN8Fw5q8W12mjdqzHWDTHtgmSZk22WtnTzXmcX.XoGH.fAwo
onvXTVDDlZDsT2o22GdHdWEiWRkFsgFjdkfKuhjS0BgCBYEVMu952gxtWq0D
Y9OX7MqZn4Rq1ihiL5Amnukg0sH7izpnSNnV3tpsk8KqZ0Obub6Xk2USsJv+
ickkelj+SpRie2Ln+b9Y56paKclaqnssjMzmRtanRuqD

[2020-07-01 17:18] maybites commented on #399
[o.downcast] is neither part of the windows nor the OSX distribution...

[2020-07-01 17:21] mzed commented on #399
Unfortunately, I think it's in the /dev folder, which isn't in the search path.

[2020-07-01 17:22] equilet commented on #399
Hello @maybites - [o.downcast] can be found in the `/dev` folder.  Please include this folder when installing this package if you would like to use those materials - this is covered in the release notes.  In a future release (soon), we'll be including a more prominent pointer to this object, and are considering moving it to the main externals folder.

[2020-07-01 17:23] equilet commented on #399
<img width="1091" alt="Screen Shot 2020-07-01 at 10 23 15 AM" src="https://user-images.githubusercontent.com/2237372/86273321-ecbb5a80-bb84-11ea-8645-32561ecf4757.png">

[2020-07-01 17:24] maybites commented on #399
thanks to you all. found it.

[2020-07-01 17:25] #399 closed

[2020-07-01 17:25] equilet commented on #398
@stefademo thank you for your attention to this issue.  We're looking at it now.

[2020-07-01 17:32] maybites commented on #399
hm, I was just looking for those release notes, but didn't find them. I would expect them either inside the package or on the wiki or inside the readme.md.

[2020-07-01 17:35] equilet commented on #399
Agreed - it's not an ideal location, which is precisely why we're looking at the issue in the upcoming release.

[2020-08-13 10:58] maccallum commented on #383
i updated the text in the subpatch in o.overview for the dev folder to explain what it represents.

i also added a subpatch for the deprecated folder with a similar note about why those objects are there, how to install them, etc.

i also put a readme file in both of those folders that contains the same information that's in those subpatches.

i'm satisfied with the state of this now, but feel fre

[2020-08-13 10:58] #383 closed

[2020-08-19 19:34] wagne342 opened #400 "Odot objects blocked by OSX 10.15.6"
After upgrade, OSX Catalina 10.15.6 now blocks each o.[object_name].mxo individually and each must be granted an exception in Security & Privacy Settings in order for patches to load without grayed out boxes.  This may be related to the previous issue.

[2020-08-19 19:35] equilet commented on #400
already dealt with elsewhere

[2020-08-19 19:35] #400 closed

[2020-08-25 00:14] equilet opened #401 "crash with dynamic assignment"
There may be an existing issue for this - if so, please close this one in favor of it - but please include a link to the issue if possible.  Crashes on my machine with latest (1.3a) when binding an int to /num and passing it into the expression.  Code is malformed, but shouldn't crash.

<pre><code>
----------begin_max5_patcher----------
753.3ocyW0zbaBCD8r4WgFcxtgXiDelNSuly8dblLBPIkTrfADt1MS9uWoUf

[2020-09-11 10:27] andrewh opened #402 "file preferences; user notification for /dev & /deprecated"
On the 1.3 release, when loading o.overview.maxpat, the console prints an error, e.g.

[code]

I fixed this by adding the Packages directory to my list of paths in File Preferences.

[2020-09-11 10:27] andrewh commented on #398
Using `xattr` works for me.

[2020-09-11 15:37] equilet commented on #402
This should not be necessary.
The instructions in `o.overview` (found in the extras menu) should cover the situation of adding dev/deprecated.  Can you please read the text there and let us know whether or not this fixes your issue?  Please do not add the `Packages` directory as that can cause unwanted conflicts.

[2020-09-11 15:37] equilet commented on #402
please see `[p dev]` and `[p deprecated]`

[2020-09-11 15:47] equilet commented on #398
This solution is temporary.
There are two more elegant solutions, one of which we're still looking at internally.  First and most importantly, when the package gets distributed in the package manager, notarization is automatically baked in on behalf of Cycling.

[2020-09-11 16:20] andrewh commented on #402
Thanks, that's fixed now. I remember doing this in the past, I just forgot. I suppose the errors in the console might freak out some new users. Maybe using `[filepath]` in the relevant patch (`[o.autodoc_overview]`?) this could be hidden?

[2020-09-11 16:21] equilet commented on #402
`filepath` won't work albeit for the current session, unfortunately.  I might ping someone at cycling about this because it's kiling us.

[2020-09-11 16:25] equilet commented on #402
The text in the `o.overview` states clearly that we are not responsible for any mayhem that ensues due to a user enabling the `/dev` and `/deprecated` folders, and that they are subject to change at any time.  I think this is sufficient, but not very easy to find (still!!) when installing.  I personally feel that adding something in the package manager and to the main README might help us a bit.

[2020-09-11 16:27] equilet commented on #402
worth mentioning for anyone else following that this all pertains to the `tutorial` branch for the time being.

[2020-09-11 16:29] andrewh commented on #402
I suppose I meant to try to detect the presence of the directory (regexp) in the search path, and if not don't fire the script. This might work per-session. Horrible though :)

Maybe just moving `[p dev]` and `[p deprecated]` out of the overview patch would be enough. The warnings can remain in those patches, and maybe mention them in the README as optional extras.

[2020-09-11 16:33] equilet commented on #402
I definitely think they should stay there, but should maybe also live in these other areas.  Will discuss.

[2020-09-11 16:33] equilet commented on #402
Yeah; I tried something like this and it wasn't satisfying.

[2020-09-12 05:32] superbigio opened #403 "Proposal for new object: [o.substitute]"
Changing the address of an OSC packet is a very common operation.
For example, in my specific user case I have a controller app that outputs the following set of OSC messages:

[code]

in order to be compatible with some software I want the app to control, I need to be able to translate those OSC messages as follows:

[code]

I made a patch using [o.mappatch] to accomplish the above.

![image](htt

[2020-09-12 06:52] equilet commented on #403
I know it's not ideal, but I'm curious if something like this works for you?:

<pre><code>
----------begin_max5_patcher----------
783.3ocuVszbZCCD9L7qPiOAsN32w3NSt1y8twCivVgXpsrqkLkjL8+d2UVl
X.mIjoIMSFIzpu8g91GvySmXro5.SXP9FIlLYxySmLQIBELQedhQI8PZAUnf
YvY+tZyNCytqjrCRk3pEBVAKURrpZk82xaKgSELoRUWsz7rNM1r6lvdjcvjO
Vy5hECCShw2aKJ9AM8mLvEIZf0TY5C47sqa.m0g00IXgsIw2KD2B8vUW2E1G
0ABibdeT3fx9yzo3h4U9lqVjkK

[2020-09-12 06:58] equilet commented on #403
Here's how you would dynamically reassign:

<pre><code>
----------begin_max5_patcher----------
740.3ocuUszaaCCC9bxuBAcxY0M9cZx.10cd2SBBTrYSUmirmkbPZK5+8Q8v
4UcQSAVWPfd7Q9QRQQQ+xvAz0U6AIk7cxbxfAuLbv.CjFXfa+.5V197RlznF
sZbAWVWxdh5akpf8Jij.YUaSND7s.1y7sHR3X+EhinPIr6snn0THZz3N6UxE
PdUqvXzDG38UB08rbPiE5vDsaqZUkfxDXQNTdgMLW+3sYzSXK4OaXGEOty.V
1pmpAaBfRIKchpYp7G3hMqZfbkUZbTFxjjN0LkMMROMAGOPBCHt3P7nwdc3P

[2020-09-12 07:59] ramagottfried commented on #403
hi all, just chiming in to give another way also -- I've used this name mapping system a lot -- and it's pretty modular I think, you set the name maps in the right inlet and then the patch assigns the names if found:

<pre><code>
----------begin_max5_patcher----------
988.3ocwX0zbihCD8r8uBU5jcsLNHwG1rUsW2y68wSkRFTRXVP3BDd8NSM+2
WoVBGb.aSLjrUk.Rpa0cqlW+ZC+b9L7thi7JL52QeEMa1OmOaFrjdgY14yv4
riwYrJPMb

[2020-09-12 08:11] ramagottfried commented on #403
and then expanding it to deal with spat-like addresses, I find o.explode is useful, which turns sub-addresses into sub-bundles -- in this approach you can avoid string mangling a bit:

<pre><code>
----------begin_max5_patcher----------
1937.3oc2ZszaiaCD9ryuBAcJo0ah3CKaUfdn.EEn25ohBDuvf1hwQakoLjn
xlcWz+6kujrjhnsrMsy1BDHGMCImGblO9Py2tYj+xrWoE9d+j2idiF8saFMR
QRRXj48Q9aHutJkTnZle18qx1rMqf5OVykSekq37PQ

[2020-09-12 08:35] equilet commented on #403
Good point on using routing to one's advantage - agreed!  :)
Here's the last step of the logical progression, for anyone interested (again the call from `delete` would be simplified):

<pre><code>
----------begin_max5_patcher----------
1184.3ocyXszjahCD9r8uBUrWr2AiQ71aU9PRpZOu2G6xkLnwgYAgWPLwylJ
42dZIA9QLNFFy3cmZ.rZZ0e5qU2MM70gCzVmsiVng9CzinAC95vACjhDBFTM
dfVJYWXBoPplFi9kr0OqoqtEmtiKEyQqQI0RyJ4ITN

[2020-09-12 18:56] adrianfreed commented on #402
Have you all considered throwing the /dev and /depracated stuff into the release and putting the warnings in the help patches
and object load time max window messages?

The development context that produced those folders in the first place no longer exists. At the time the idea was to quickly update the release
with new solutions to the depracated stuff we depended on and finish the experiments as

[2020-09-13 17:28] superbigio commented on #403
Hi guys, thanks for your replies.
My comments to follow...

As far as Jeff's approach goes, it doesn't really work for me.
Here is what I get:

<img width="1292" alt="Screen Shot 2020-09-13 at 12 57 26" src="https://user-images.githubusercontent.com/3371186/93016334-b2c4f680-f5c0-11ea-82e5-628c9e169ae9.png">

The single quotes around every character are not compatible with the messages expected by

[2020-09-13 18:58] ramagottfried commented on #403
hi luigi, right -- sure, here you go:

<pre><code>
----------begin_max5_patcher----------
2050.3oc6as0aaaCE9YmeEB5oDL2DQRIY6ArGFvv.1a6ogATWXPaw3nNYJCI
pzzVz+6i2jrjinMkMsS2EfB6XdH44BOeGxC4oe8lQ9KyegT568idu2aznudy
nQxlDMLR+6Q9avurJCWJ6lOk7o7kezerhDi7BS1b98qxyxHqX0TxqXYDF6ya
IpY2226CZRawrUOkRWunPzeIUDJ39fwdwAxuhPhOgv6CZFCsZSJkOgRg.naL
MQw6ke7cQ965nh0pdJZ7a2bi3iwmmFx7V5kYT6Vhoq8GamVB4ZYD+qYxOGhV
h5WKg

[2020-09-13 19:12] ramagottfried commented on #403
p.s. here's another version, using split/join with less patching, note that it only looks at the last element of the addresses:

<pre><code>
----------begin_max5_patcher----------
1124.3ocwXszbhiCD9L7qPkOQ13Ard3WaUy047deHUJgsRhyZjc4GrjYp4+9
1srLPBNLl.aVWTNzsZ0esZ0uH+b5DmUEaU0Nj+j7cxjI+b5jIFVHiIV5INqk
aSxk0Fwbzp+oX0yNtcK0n11XXWLupnsQQV.u6WD9Ztpo4kRUG.NNtDmu0lm+
Wxj+VA66NqfkxljmxzOdekJooSVF0etmKQHDy

[2020-09-14 00:28] equilet commented on #403
@superbigio did you try the last patch I posted (rather than the one you quoted)?  The `/r/at` address should take care of the modularity.  I hoped to use any address space so omitted hard-coding.  Pick the slot in the address (`/r/at`) to send in a replacement with the `/names` list.  Regardless, I think any of these would work based on your initial inquiry.

Depending on what else you're sending

[2020-09-14 00:28] #403 closed

[2021-01-05 21:42] federicoVisi commented on #380
would love to see this one too some day, perhaps similarly to how the `js` and `node.js` objects work (i.e. editor pops up on double-click)

[2021-01-05 22:02] federicoVisi opened #404 "o.expr.codebox crash"
`o.expr.codebox` crashes Max if some addresses in the expression are unbound. see attached patch to replicate.
[odot_codebox_crash.maxpat.zip](https://github.com/CNMAT/CNMAT-odot/files/5772809/odot_codebox_crash.maxpat.zip)

[2021-01-16 08:13] equilet commented on #397
fixed and forthcoming

[2021-01-16 08:13] #397 closed

[2021-01-27 20:23] equilet commented on #387
fixed

[2021-01-27 20:23] #387 closed

[2021-02-24 17:21] equilet commented on #363
this is done and will be included in the forthcoming release

[2021-02-24 17:21] #363 closed

[2021-02-24 18:48] maccallum commented on #401
Produces an error now as expected. @equilet , can you verify and close this if we're good?

[2021-02-24 18:48] maccallum commented on #396
fixed

[2021-02-24 18:48] #396 closed

[2021-02-24 18:52] maccallum commented on #393
fixed

[2021-02-24 18:52] #393 closed

[2021-02-24 18:54] maccallum commented on #391
This isn't a casting issue, it's an issue with the way (u)int8 values are represented as chars inside single quotes. In that example, /f becomes 0, and 0 is the NULL byte, which terminates the string. This requires rethinking the representation of 8-bit ints, so let's keep this open for now.

[2021-02-24 19:44] equilet commented on #401
verified

[2021-02-24 19:44] #401 closed

[2021-02-25 18:19] maccallum commented on #404
Fixed--posts an error as expected

[2021-02-25 18:19] #404 closed

[2021-02-25 18:24] #402 closed

[2021-02-25 18:25] maccallum commented on #398
Looks like there's a solution for this, so I'm going to close. Feel free to reopen if there's something we should do

[2021-02-25 18:25] #398 closed

[2021-02-25 18:26] maccallum commented on #394
Removed

[2021-02-25 18:26] #394 closed

[2021-02-25 18:28] maccallum commented on #392
@equilet can we close this?

[2021-02-25 18:43] maccallum commented on #390
Confirmed that `/nevertrue` is usually true on Windows

[2021-02-25 18:46] maccallum commented on #371
This issue is ancient, and everything's currently building on all supported platforms, so I'm closing.

[2021-02-25 18:46] #371 closed

[2021-02-25 18:46] #367 closed

[2021-02-25 19:32] maccallum commented on #359
This is fixed for `join()`, but not for `string()`

[2021-02-25 19:39] maccallum commented on #357
@ramagottfried, did this ever get dealt with? Can you comment or close?

[2021-02-25 19:39] maccallum commented on #356
This has been merged for a long time--closing

[2021-02-25 19:39] #356 closed

[2021-02-25 20:03] equilet commented on #392
yes; fixed

[2021-02-25 20:03] #392 closed

[2021-02-25 20:31] ramagottfried commented on #357
it's been quite a while, but I believe this was a suggestion you made, and has been implemented a long time ago. There are now three outlets, the middle outlet sends out errors, and the rightmost outlet is a delegation outlet where unmatched (unattached) messages are routed. Seems to be working fairly well as far as I can tell.

The big change was that previously the object was union'ing the attac

[2021-02-25 20:31] #357 closed

[2021-02-26 07:05] #274 closed

[2021-02-26 08:06] #347 closed

[2021-02-26 08:06] maccallum commented on #345
We've got this with sub bundle literals and the `bundle()` function

[2021-02-26 08:06] #345 closed

[2021-02-26 08:08] maccallum commented on #340
This has been fixed and tested

[2021-02-26 08:08] #340 closed

[2021-02-26 08:08] maccallum commented on #337
@equilet what's the status of this?

[2021-02-26 08:17] maccallum commented on #336
Windows only provides Courier New and Lucida Sans Typewriter, according to this: https://support.microsoft.com/en-us/topic/microsoft-supplied-monospaced-truetype-fonts-93aa7a47-2149-be09-31a9-c22df598c952

Although, on my Win machine, I only see Lucida Console...

I plan to switch the default to Menlo on OS X, and Lucida Console in Windows--I think they both look much better than Courier New, and

[2021-02-26 08:19] maccallum commented on #335
Fixed

[2021-02-26 08:19] #335 closed

[2021-02-26 08:19] #316 closed

[2021-02-26 08:22] maccallum commented on #297
This is not an issue on Win64, and we're not supporting 32-bit, so I'm going to close

[2021-02-26 08:22] #297 closed

[2021-02-26 09:06] maccallum commented on #261
Fixed! Better late than never...

[2021-02-26 09:06] #261 closed

[2021-02-26 09:13] equilet commented on #337
we're not including `data management` nor `o.listops-overview` currently, so closing as others are rolled into upcoming release

[2021-02-26 09:13] #337 closed

[2021-02-26 16:45] #122 closed

[2021-02-26 19:42] #134 closed

[2021-02-26 20:00] maccallum commented on #170
I'm going to close this issue, but keep track of the request (along with a number of others) in another location. This is an important one, but it's part of a bigger question about what that `=` operator really means, how it's different from `assign()`, and from `:`.

[2021-02-26 20:00] #170 closed

[2021-02-26 20:03] maccallum commented on #199
This has been resolved for some time

[2021-02-26 20:03] #199 closed

[2021-02-26 20:05] maccallum commented on #209
resolved

[2021-02-26 20:05] #209 closed

[2021-02-26 20:07] maccallum commented on #211
I believe this issue is still present in the o.edge~ external, but it has been moved to deprecated in favor of the patcher version which uses the other o.~ objects

[2021-02-26 20:07] #211 closed

[2021-02-26 20:09] #218 closed

[2021-02-26 20:09] maccallum commented on #222
Not sure why this was necessary--closing, but feel free to reopen

[2021-02-26 20:09] #222 closed

[2021-02-26 20:17] maccallum commented on #223
On second thought...

[2021-02-26 20:17] #223 closed

[2021-02-26 20:27] #224 closed

[2021-02-26 20:27] #225 closed

[2021-02-26 20:29] maccallum commented on #227
Closing this issue, but moving the idea to another space

[2021-02-26 20:29] #227 closed

[2021-02-26 20:29] #228 closed

[2021-02-26 20:29] #235 closed

[2021-02-26 20:31] #237 closed

[2021-02-26 20:31] #241 closed

[2021-02-26 20:32] maccallum commented on #244
There is no expression type, and no plans to add one, so closing this

[2021-02-26 20:32] #244 closed

[2021-02-26 20:32] #247 closed

[2021-02-26 20:33] maccallum commented on #255
libopd builds on windows

[2021-02-26 20:33] #255 closed

[2021-02-26 20:40] maccallum commented on #10
this is still an issue!

[2021-02-26 20:41] #41 closed

[2021-02-26 20:49] #47 closed

[2021-02-26 21:07] #68 closed

[2021-02-26 21:09] #80 closed

[2021-02-26 21:15] maccallum commented on #92
I'm closing this, as o.slip.encode / decode have been well exercised

[2021-02-26 21:15] #92 closed

[2021-02-26 21:16] #113 closed

[2021-02-26 21:16] #117 closed

[2021-02-26 21:43] maccallum commented on #395
Fixed

[2021-02-26 21:43] #395 closed

[2021-02-26 21:51] maccallum commented on #362
Right, `assigntobundlemember` seems to not be doing the right thing when its first argument is an expression

[2021-02-27 14:41] maccallum commented on #384
Added a `reset` message

[2021-02-27 14:41] #384 closed

[2021-02-27 14:57] maccallum commented on #359
Fixed for `string()` now

[2021-02-27 14:57] #359 closed

[2021-02-27 15:14] maccallum commented on #288
This has been fixed for some time

[2021-02-27 15:14] #288 closed

[2021-02-27 17:36] maccallum commented on #108
Added an outlet that does this

[2021-02-27 17:36] #108 closed

[2021-02-28 09:58] maccallum commented on #349
Fixed. When a bundle is found saved in a patcher, we now call doFullPacket.

[2021-02-28 09:58] #349 closed

[2021-02-28 11:50] maccallum commented on #390
This has been fixed. On Windows, MinGW's version of `gettimeofday` has lousy precision, so everything was working correctly, but the clock wasn't changing between calls to o.timetag. I replaced it with a version of `gettimeofday` that calls `GetSystemTimePreciseAsFileTime`, which produces the same resolution that I see on Mac OS X.

[2021-02-28 11:50] #390 closed

[2021-02-28 12:15] maccallum commented on #358
The behavior here is due to the `*` operator in the address being treated as an OSC wildcard. The matches are working as expected, so the addresses should probably be rewritten to avoid special characters like `*` and `/`.

[2021-02-28 13:05] maccallum commented on #358
This is fixed now

[2021-02-28 13:05] #358 closed

[2021-03-01 07:05] maccallum commented on #362
fixed

[2021-03-01 07:05] #362 closed

[2021-03-01 09:07] maccallum commented on #336
Omg so much better...

[2021-03-01 09:07] #336 closed

[2021-03-01 09:26] maccallum commented on #294
Unsigned ints can now be created using hex notation. This addresses the original issue, so I'm closing it. The issue of type annotation remains, but I'll move it to another design doc.

[2021-03-01 09:26] #294 closed

[2021-03-01 10:15] maccallum commented on #353
The analysis in the comment above is correct, and while some better error reporting would obviously be useful, there's not much to be done with this specific issue.

[2021-03-01 10:15] #353 closed

[2021-03-04 08:56] maccallum commented on #321
Fixed

[2021-03-04 08:56] #321 closed

[2021-03-04 17:54] maccallum commented on #389
Moved over to the libo issue queue: https://github.com/CNMAT/libo/issues/10

[2021-03-04 17:54] #389 closed

[2021-03-04 18:06] maccallum commented on #10
This prints an error now

[2021-03-04 18:06] #10 closed

[2021-03-04 22:00] maccallum commented on #391
Moved to libo: https://github.com/CNMAT/libo/issues/24

[2021-03-04 22:00] #391 closed

[2021-03-04 22:09] maccallum commented on #377
I sympathize with the problem here, but there's no one currently available to work on UI improvements like this. I'll make a note of the resizing issue in my wishlist for future UI improvements.

[2021-03-04 22:09] #377 closed

[2021-03-04 22:12] maccallum commented on #360
Moved to libo: https://github.com/CNMAT/libo/issues/25

[2021-03-04 22:12] #360 closed

[2021-03-04 22:28] maccallum commented on #380
Looks like this is probably the thing to try in order to do something similar do the `js` object: https://docs.juce.com/master/classCodeEditorComponent.html

[2021-03-04 22:58] maccallum commented on #306
Moved to https://github.com/CNMAT/libo/issues/26

[2021-03-04 22:58] #306 closed

[2021-03-04 23:07] maccallum commented on #352
There are a number of different issues discussed in this thread:

* The documentation of the subtraction operator indicates that it works on strings. That's been fixed.
* The `split` function works like `strtok`. It's too late to change that now...
* A regex function would be nice. `match` is the right thing for the language to supply--a full regex could be supplied by a lib.
* We need a full comp

[2021-03-04 23:07] #352 closed

[2021-03-04 23:08] #280 closed

[2021-03-05 00:11] maccallum opened #405 "Review the contents of the dev folder and move stable objects to the main folders"
Obvious candidates are `o.downcast` and `o.slip.encode/decode`, but there are probably others

[2021-03-05 00:11] maccallum commented on #149
"Coming back to this topic after a long time..."

I think the folder structure is ok as is. One of the complaints is that it's annoying to have to let people know that they have to add the dev folder to their search paths, but I think that by doing it, you're agreeing to work with things that may change in the future. If anything, I'd rename it something like `future`. At one point, I believe it w

[2021-03-05 00:11] #149 closed

[2021-03-05 13:18] maccallum commented on #66
Odot should provide the bare minimum support for random number generation, and `o.uniform` in its current state provides that support. There's a mention of some anxiety in one of the comments above that this creates a dependency on a Max external, but I would say that this is the right way to do this, by wrapping whatever is available in the host. Additional support should be provided by external

[2021-03-05 13:18] #66 closed

[2021-03-05 19:06] maccallum commented on #38
These have all been taken care of with the exception of the `sort` function, which has been made into an issue in the libo repo: https://github.com/CNMAT/libo/issues/28

[2021-03-05 19:06] #38 closed

[2021-03-05 19:08] #40 closed

[2021-03-05 19:22] #15 closed

[2021-03-05 19:23] #45 closed

[2021-03-05 19:24] #56 closed

[2021-03-05 19:25] #86 closed

[2021-03-05 20:38] maccallum commented on #121
This is still a good idea. The PD serial object I'm using lately is `comport`, which works great and can access a Raspberry Pi Pico attached by USB, which the Max serial object doesn't seem to be able to.

[2021-03-05 20:54] maccallum commented on #71
I still think this idea is pretty radical. It never got implemented and there's quite a bit to work out at least in terms of syntax... I'm going to consider this orphaned and close it.

[2021-03-05 20:54] #71 closed

[2021-03-05 21:28] maccallum commented on #260
I'm going to consider this orphaned for the time being.

[2021-03-05 21:28] #260 closed

[2021-03-05 21:30] maccallum commented on #130
I love this idea, but will consider it abandoned until we find someone to work on speculative GUI dev

[2021-03-05 21:30] #130 closed

[2021-03-05 21:31] #118 closed

[2021-03-05 21:42] #187 closed

[2021-03-12 08:30] maccallum commented on #120
I'm going to close this--the idea is interesting, but this won't get into a `1.x` version.

[2021-03-12 08:30] #120 closed

[2021-03-12 08:32] maccallum commented on #53
Some years after this discussion, we identified enough differences between odot and OSC that warrant closing this and keeping the OpenSoundControl object as is. I'd like to see an odot 2.0 built on a fully compliant OSC 1.0...

[2021-03-12 08:32] #53 closed

[2021-03-14 14:31] maccallum commented on #44
Noted : cached type signatures.

[2021-03-14 14:31] #44 closed

[2021-03-21 15:04] maccallum opened #406 "Update make-package-info.py"
This script currently doesn't run, as some of the directories it expects to operate on have been changed. Is this script necessary? Is it necessary to have a script that does this? Or can we just hand-code the package-info.json file?

[2021-03-21 15:05] maccallum opened #407 "Is the file in default-definitions being used?"
If not, can we delete it? I moved it aside and it seemed to not have any effect.

[2021-03-22 20:36] equilet commented on #407
I would remove it.  These things are defined with `CLASS_ATTR_*()`.  This may have been a holdover from a prior version of Max.

[2021-03-22 20:43] equilet commented on #406
we should update it and it should be generated.  I can do this.  [Here](https://cycling74.com/tutorials/package-authoring-the-finer-details)'s a reference.

[2021-03-26 21:12] ramagottfried opened #408 "o.was in tutorial 11"
looks like there is an abstraction called o.was in the dev folder which is used in tutorial 11, maybe good to put a mention of the dev folder situation there?

[2021-03-26 21:25] ramagottfried opened #409 "o.expr.codebox styling"
nice work on the tutorials! really great!

one thing that I think that could be improved is the readability of the o.expr.codebox formatting. personally I find it difficult to quickly read the horizontal style of codebox that is used a lot in the tutorial examples.

for example, with nested statements, I think new users might find it easier to read something with indents and matching parenthesis i

[2021-03-28 07:58] ramagottfried commented on #405
hey -- yes I think for dev/externals I would say:

`o.atomize` -- was updated to output blobs a couple years ago in the case of subbundles, seems stable now
`o.downcast` -- I think this may have also added the subbundle to blob? or just drops them?
`o.gui.attach` -- the design is stable, and as far as I know it seems to work stably (there is room for improvement in handling a few situations, but o

[2021-03-30 07:21] maccallum commented on #409
Nice, thanks! @equilet, I let's take another pass through and look for uses of `o.expr.codebox` where indentation would help readability. I don't think we need to go crazy, but I think @ramagottfried is right that we should take another look.

[2021-03-30 07:23] maccallum commented on #407
Gone

[2021-03-30 07:23] #407 closed

[2021-03-30 07:23] maccallum commented on #406
Done

[2021-03-30 07:23] #406 closed

[2021-03-30 07:37] maccallum opened #410 "osc-compatability relies on two objects in the dev folder"
`o.downcast` and `o.messageiterate` from the `dev` folder are used in `osc-compatability.maxpat` to illustrate methods for making odot bundles conform to OSC 1.0.

One thought would be to move the contents of this file to another `.maxpat`, and then have this file contain a note that says that you need to add the `dev` folder to your search path, along with a button that would open the real patch.

[2021-03-30 07:43] maccallum opened #411 "Add steps to o.demo.datarecorder.list"
It's not clear what to do first in this patch. Add some numbers (1., 2., 3.) to show what to first, then what to do next, etc.

[2021-03-30 07:50] maccallum opened #412 "Fix broken link in o.glossary"
`Attribute-value_pair` is reported as broken

[2021-03-30 07:50] maccallum opened #413 "Add a scroll down note to the bottom of the first screen of o.glossary"

[2021-03-30 07:51] maccallum opened #414 "Consider changing the background or button colors for o.expr.overview to enhance readability"
From Ed:

"I preferred the version that had a gray/black background.  I could read the many functions easier.  bgcolor 0. 0. 0. 1."

[2021-03-30 18:36] equilet commented on #414
done

[2021-03-30 18:36] #414 closed

[2021-03-30 18:37] equilet commented on #413
done

[2021-03-30 18:37] #413 closed

[2021-03-30 18:43] equilet commented on #411
done

[2021-03-30 18:43] #411 closed

[2021-04-01 19:09] equilet commented on #408
Thanks Rama.  We've decided to move it into the main release.  I'll post back when it's done.

[2021-04-01 19:09] equilet commented on #410
Deciding to move these into the main release, along with `o.atomize`.  Will post back

[2021-04-04 23:15] dappertutto opened #415 "quick dive through mainly items found under 'extras'"
examples overview (demos):

o.demo.cellular automata

	the button doesn't illuminate

o.demo.euclidean_distance

	would be really helpful to have this commented like most of the rest. Ideally also with some graphical element

o.demo.floattotime

	Second from bottom, the float64 representation of the timestamp: perhaps indicate that this is the number of seconds since Jan 1 1900

o.demo.prefixes

[2021-04-05 08:41] maccallum opened #416 "Go through the demos folder and remove or fix the fpic objects"
I noticed that some of the demos have an fpic object that has a path that points somewhere on @equilet 's machine. These should point to the right place, or be taken out.

[2021-04-05 08:57] maccallum opened #417 "Add a "start here" file to the extras menu"
This should be small, and list each of the support files (o.overview, o.expr.overview, basically everything in the extras folder), with a brief description of what's in them. This would probably be the featured page (or whatever it's called) for the package manager

[2021-04-05 08:58] maccallum commented on #415
Thanks for this @dappertutto. I've got through your notes about the examples and the general notes, but not the tutorials. Comments below:

The only way to fix that reliably is to send the bang through `del 0`, but I think that sends a weirder message to the person using the patch than the button not lighting up...

Good point--it wasn't clear that this patch was attempting to show three ways of d

[2021-04-05 16:37] equilet commented on #417
This was my initial call to rename `o.tutorial` to `o.home` or similar.  I'll ping you directly

[2021-04-05 16:41] equilet commented on #415
The attr-value pair issue was fixed in https://github.com/CNMAT/CNMAT-odot/issues/412

[2021-04-05 16:58] equilet commented on #417
removed links to other items from the tutorial home patcher and added `o.start.here`.  This can function as a first-contact patch.

[2021-04-05 17:01] #417 closed

[2021-04-05 17:01] equilet commented on #416
or be embedded

[2021-04-05 17:05] equilet commented on #416
done

[2021-04-05 17:05] #416 closed

[2021-04-05 17:45] #408 closed

[2021-04-08 20:00] ramagottfried opened #418 "check quarantine issues on newer MacOS"
I had my students install the latest release today and some where having issues with the OS quarantining objects -- I'm still on 10.14 so haven't seen this, but maybe good to test on the latest OSs to make sure the externals are signed, or whatever is required now.

apparently there is a window that pops up whenever they make a new odot object

[2021-04-14 11:00] maccallum commented on #418
@wagne342, is there any news on this front?

The problem is the worst on Catalina. On Big Sur, it's not terrible--you get a popup the first time you try to load an object that's in quarantine, and there's an option to have Max remove the quarantine flag from all the objects used in your patch, so at least you don't have to click through for every one. But it'd certainly nice to actually have every

[2021-04-14 11:02] maccallum commented on #418
@equilet and @wagne342, I'm wondering about the timeline for this. Is it feasible to consider having this done before the release into the package manager? Or the other way around--is this it a deal-breaker to release non-code signed objects in the package manager?

[2021-04-15 16:52] dmuhr commented on #418
Hello everyone, Just wanted to comment that using odot objects in Catalina is becoming incredibly difficult. Every time I open a patch with odot objects, I need to run `sudo xattr -rd com.apple.quarantine` in the terminal for each object.  Is there an easier way?

Thanks !

<img width="1258" alt="Screen Shot 2021-04-15 at 18 51 26" src="https://user-images.githubusercontent.com/69827711/114907704-

[2021-04-15 17:34] equilet commented on #418
Hi all - apologies for the late reply on this.
I've confirmed with C74 that when releasing via the PM, that quarantining/codesigning is handled by them.  This is not an issue w/ the current release outside of sending people test builds.

Separately, it's my understanding that @wagne342 is working on getting the developer status fixed with Apple.

[2021-04-16 12:51] maccallum opened #419 "Crash with output from maxurl"
In this example, reported by @dmuhr, the print object prints two lines to the console, but printit only prints one, while o.display just crashes.

<pre><code>
----------begin_max5_patcher----------
764.3ocuV01ZaCCD9yN+J7Lr7ozDKG67RgvnrOU1fAqaLXiQPw9Zh5rkLRx4
kV5+8Jc1NIc0coujtODYzoS5dddNcWzMsb7lIVCJO2Sc+kqiyMsbbPSVCNUy
c7xnqiSoJzMONrRL6JuNkKog0Zzbtjw00VYInMiemDUaiWjw3ofFOExNihBc
sU+Jq4Tc7BFe9TIDqKw

[2021-04-16 17:05] wagne342 commented on #418
I am still trying to get an answer from the Sponsored Projects Office on
how to proceed.  The Apple developer ID needs to be associated with a Dun
and Bradstreet D.U.N.S. number.  Campus has a DUNS number but I'm not
certain we are allowed to use it or if we need to/are allowed to get our
own.  I have reached out again yesterday to SPO for guidance on this, but
haven't heard back yet.  Concurrentl

[2021-04-16 23:09] dappertutto opened #420 "o.schedule error (probably)"
<pre><code>
----------begin_max5_patcher----------
13361.3oc68ssiiijjkOW4WAgvLnqdlLT32uT.EFLK5YQ2.6C6C69TmEBvHD
yHTWJEEjXjW5F8662v94seIqegjhT7l6R7lhPQWg5LHonebyL2riYNo6+iO7
SKdL96QGVD7KA+0fe5m9Ge3m9IygzG3mR+6eZwWB+9SaBOXtrEOE+kuDsMYw
GsmKI56Ilim7RTv5CGdU+YPxKgIAe6knsAaVuMJ.J0G7a6i297GC9xOBd50n
+a51MXU71+PRv9nC6h2tJHINPeWhO7Tviutc0lnkeZ6m19eEtey5n8eL3uD7
svCAedeTzee81mMWpA8AO9ifCQaWoO38aV+7KIOr6k8g

[2021-04-17 00:49] wagne342 commented on #418
Update: I spoke with Dun & Bradstreet this afternoon and they have agreed to issue CNMAT its own D.U.N.S. number which should be in place in the next two business days.  We will work to provide proper validation and next steps as required by the various UC policies.  I have also reached out again to [IPIRA](https://ipira.berkeley.edu/ip-protection) to make sure the project is properly recorded and

[2021-04-17 02:27] dappertutto commented on #420
@maccallum

[2021-04-17 05:57] maccallum commented on #420
@dappertutto

Line 19 that `o.printbytes` prints is the size of the `/light_phrase` message. The difference you're seeing between the far left part of the patch and the far right is because on the right, you're converting `/light_phrase` to a 64-bit int, while on the left, it is a 32-bit int (Odot's natural int size is 32-bits).

On the right, change
[code]
to
[code]

[2021-04-17 05:57] #420 closed

[2021-04-27 20:46] #410 closed

[2021-04-29 18:09] ramagottfried opened #421 "value bug with wildcard?"
not sure what's going on here exactly -- any ideas? is it a bug? I think it might be.

<pre><code>
----------begin_max5_patcher----------
1005.3oc6XszaaiCD9r8uBAcpcgWEQJpGr.8Purm685BCZIZW1JSJPQ40sA4
+9xGR1Vwx0YcT.paCfir3vY37MjeyvI99oS7WJ1Qq88dm2m7lL49oSlXEYDL
oc7D+Mjc4kjZqZ9hfbwlJQM0elaVEcmxNyc+k948y4dd2sRHzuClyeX1b9cM
xR8n4ZEl6aFWPTjATsaAKYbZtngaW0zVgURZMkqHJlfuXPMDMpRpR88JpKb7
889b6T7lMLtdRaD.aE

[2021-04-29 18:13] ramagottfried commented on #421
(I just edited the example slightly to make it clearer)

[2021-04-29 18:17] ramagottfried commented on #421
ah! the plot thickens: `/*` is a bundle, but `/1` is a string

<pre><code>
----------begin_max5_patcher----------
887.3oc2V0zaaiCD8r8uBAdIsEtNhTeXoBjC6kdt2qKLnkncYWYRARprNaP9
uuyPJ4XmXi3j3Br6BXSINbFNONyaFp6GOhrTuUXIQeI56QiFc+3Qi7hPAi5m
Ohrguspga8pQzSqk11F9cjIgUchsN+JWSgw6mqhhtdkVCuSmqdXxb00clFX1
bPg4Dbt6tVAH3J6UC6QiTIpzcJ+Fk0KT24ZDNT4.9HjnezujpaiTAK5gDsW3
JsxshW40NtWVK2U8SoZ8BinxE1lTJaZZRVVZdwrrIQ

[2021-04-29 20:10] maccallum commented on #421
Ok, so this is extremely confusing, but not a bug. The input bundle is
[code]
and the program is
[code]
The first line of the program produces a binding of `/url = "/*"`, so now the working bundle is
[code]
Then, when `value(/url)` is evaluated in the second line, the address (string) `/url` is compared to the pattern in the first message of the working bundle, which is `/*`, which produces a matc

[2021-04-29 20:53] ramagottfried commented on #421
why does value do pattern matching with the wild card? I think only `match` should do pattern matching, otherwise this means you can't operate on wildcard addresses, which would be unfortunate.

[2021-04-29 20:55] ramagottfried commented on #421
did you see the second issue?
[code]

[2021-04-29 20:56] ramagottfried commented on #421
or is that similar, that `typetags` also does pattern matching? wow,... still really not sure that o.expr should do pattern matching without calling `match`

[2021-05-04 19:34] #405 closed

[2021-05-04 19:37] maccallum commented on #421
@ramagottfried, I think you're right that pattern matching in o.expr should be explicit, rather than implicit. I just checked the history, and this behavior has been there forever, so this would be a breaking change, although, I'm not sure anyone relies on it. I'm going to add this to the 1.4 list--I think it's too late to consider something as deep as this for 1.3.

[2021-05-04 19:42] maccallum opened #422 "Version of the delete function that operates on patterns"
Federico Visi mentioned that it would be nice to be able to name temp variables with a prefix like `/tmp`, and then delete them with something like `delete(/tmp/*)`. In order to avoid issues with implicit pattern matching like #421, my preference would be to have a different function, like `deletep(/tmp/*)`, for example.

[2021-05-04 19:45] ramagottfried commented on #421
@maccallum cool, that sounds good -- I'm fairly sure that not many people are using the hidden pattern matching functionality, since as far as I know there is no example of this in the documentation, I only stumbled on it when trying to operate on a wildcard address (that was then being sent to another process where the matching happens).

[2021-05-04 19:46] ramagottfried commented on #422
+1 for `deletep()`

[2021-05-04 20:02] ramagottfried commented on #422
or maybe `matchdelete()`?

[2021-05-11 05:04] maccallum opened #423 "package-info.json gets written multiple times when reusing the staging dir"

[2021-05-20 07:18] ramagottfried opened #424 "o.expr.codebox doesn't resize vertically to contain text"
with the new font size, o.expr.codebox and o.compose often need to have the width be resized in patches that used the old font.

I just noticed that additionally o.expr.codebox doesn't expand vertically to make it's code visible, so you currently have to manually increase the size to see the code -- and since we don't give an indicator that there is hidden text below the box (like in Adobe Illustr

[2021-06-12 10:09] ramagottfried opened #425 "something funny with if and &&"
<pre><code>
----------begin_max5_patcher----------
821.3oc6YszahCCD9L4WgaNT0JksD+HuVo85dduusBkFbooavIxwohcq5+80
uBEJP4QCP2tHgL3wS7mGOy7M1gmb54da4DZsK3qfeB506Imd8zhTB5Y62ycb
5jrhzZsZtYkiGSYBWOyXB5DgVNqDP47Rd6.rlw4rBpP+TPqvpTQ184rQC3zL
gA0Hj+U9d.LLV8U.T0pDAt4kIprQzNS9Vo4C0nVd6CeARbUxd1wQ03cjri.e
x60Nv6S6nhSqk5kJxKYCJxYzrxFlVUzVZoPL1Xo96rkh5RKcmbWVi.5iz1BY
GLB3tXDkWIMipxZ5BlQ+lZZe4H4JOjFxqY8kdsGWXf1G

[2021-07-05 11:52] mzed commented on #425
It seems like neither short-circuiting operator works. || also throws an error.

[2021-09-21 06:13] alexmstahl opened #426 "o.slip.decode crash"
Context: Teensy sending SLIP-encoded OSC bundles to Max via USB serial. Bundles contain ~500 bytes and are sent approximately every 50 msec.

Max consistently crashes within 15-60 seconds, when this serial data stream is connected to o.slip.decode. Also seeing several seconds of latency in the decoded output, before the crash. Tested on Mac and Win10, tried many serial object and Max scheduler set

[2021-11-13 18:11] jrmylee opened #427 "odot not working on Mac M1 chips"
Are there any plans to add support for M1 chips(ARM architecture)?  Is there anything I could do to work on adding support?

[2021-11-19 03:05] wagne342 commented on #427
@jrmylee I am aware that a stable build is currently in the works.  Could be any day now.  @maccallum We have a small but growing set of users with M1 hardware and I have recruited them as an odot Beta-testing working group at CNMAT.

[2021-11-20 12:53] puchifilou commented on #427
+1 for this request.
@wagne342 Me and my colleagues at Tripin' Lab are working on a project (spatial audio interoperability) making an extensive use of the odot library. We're about to spend an all week crash testing our solutions and we'll be able to put our hands on some M1 macbook pros. We would like to be able to make some compatibility tests on those machines as well. If it's not too late, wo

[2021-11-23 10:46] maccallum commented on #427
I just put a prerelease build for M1 here: https://github.com/CNMAT/CNMAT-odot/releases/tag/untagged-b6a32387e96c9dc3c775

I don't have a machine to test on myself, so if others can check this, I'd appreciate it.

[2021-11-23 11:26] puchifilou commented on #427
Hello @maccallum
It seems the link is broken.I get a 404 error.
If you could check the link, we are starting our testing sessions, so I could check all this right now and give you some results before the end of the day :)

[2021-11-23 12:39] maccallum commented on #427
Ah, sorry about that--I hadn't made it public. Try this link: https://github.com/CNMAT/CNMAT-odot/releases/tag/1.3.1-rc.1. Thanks for testing @puchifilou !

[2021-11-23 12:57] puchifilou commented on #427
My pleasure @maccallum :)
I'll come back later today with our first feelings ...

[2021-11-23 21:53] puchifilou commented on #427
@maccallum
All we could do today was copying our patchs on the M1 machine and try to start them. We were unable to make them work as we got an error message saying that the o.atomize object was compiled with the wrong architecture. Could you check that this object was successfully compiled with the M1 target?
Best regards,

[2021-11-24 05:42] jrmylee commented on #427
Hey all,

I started using 1.3.0-5 on the M1 Max. Able to use my existing patches
after some shallow testing, will continue to report findings. If anyone has
any patches they want me to quickly test, please send them my way.

Jeremy Lee

On Tue, Nov 23, 2021 at 2:53 PM Philippe ROGER ***@***.***>
wrote:

[2021-11-24 07:14] wagne342 commented on #427
@jrmylee Can you go to Max > Extras > odot > o.overview and open each of the help patches there and report any unstable behavior?  It seems there are reports of o.atomize not being compiled for -arm64 architecture (see max window).  Can you confirm?

[2021-11-24 09:37] maccallum commented on #427
@jrmylee that's great! Please do what @wagne342 wrote and pop open the o.overview patch to make sure all the objects load properly.

There's something potentially confusing--I see that the release I posted prints `1.3.0-5` to the Max console. That's just a mistake--I uploaded another build to the same Github release page that's exactly the same, except it prints the correct version: `1.3.1-rc.1`.

[2021-11-25 19:11] jrmylee commented on #427
Hi John,

Here are the objects that don't load properly when I open o.overview.

Happy thanksgiving,

Jeremy

[image: Screen Shot 2021-11-25 at 2.10.05 PM.png]

On Wed, Nov 24, 2021 at 4:37 AM John MacCallum ***@***.***>
wrote:

[2021-11-25 20:31] puchifilou commented on #427
Hello everyone,

@maccallum I had a closer look today the Macbook Air M1 and you were right, there was another copy of o.atomize on the drive. Everything is back in order now. We managed to launch our patches successfully. We haven't noticed any strange behavior for the moment and no more errors / warnings. We'll keep on testing for a few days and we'll keep you posted...

[2021-11-26 09:10] maccallum commented on #427
@puchifilou that's great to hear! Glad it's working.

@jrmylee that image didn't come through. If there are any objects that aren't loading properly, can you try the image again or list them here?

Happy Thanksgiving!

[2021-11-26 22:16] jrmylee commented on #427
Hey John,

Actually just realized those were the deprecated/dev objects.  Everything
that should be load is loading fine :)

Jeremy

On Fri, Nov 26, 2021 at 4:11 AM John MacCallum ***@***.***>
wrote:

[2021-11-27 10:39] maccallum opened #428 "Odot objects behaving strangely on Raspberry Pi"
Matthew Goodheart writes "I'm running into problems with running odot in PD on a Pi. I've got the latest CNMAT externals installed, but o.pack doesn't seem to recognize the input, giving the "-nan" error. There are no problems with strings or lists."

[2021-11-27 10:41] maccallum commented on #427
Thanks @jrmylee, @puchifilou, and @wagne342! I'll go ahead and close this, but reopen it or start a new issue if other problems on M1 show up.

I'll put a `1.3.1` release up as soon as #428 is resolved.

[2021-11-27 10:41] #427 closed

[2021-11-29 09:59] maccallum opened #429 "o.display crash with large list of floats"
o.display causes a crash (although isn't implicated in the crash report) when printing a large-is list (~1000 items) of floats. Ints don't seem to be a problem.

o.print doesn't crash, but does print a truncated list to the Max console.

[2021-11-29 13:41] maccallum commented on #429
This patch crashes Max, but only on 8.2.x, not on prior versions

<pre><code>
----------begin_max5_patcher----------
504.3ocqU1zbaCBDF9rzuBFNqpJPeX6bJm54duSmLHYrCoXPCBk53L4+dgE4
Zm3uTxnKngkEd4YWdseMNBWq2x6vn6P+BEE8ZbTDDxGHZXdDdCaaij0Aog0o
KEcsR1K3jvpp9MBkjagkIGBp6seLZHj8kVdPQLF86gkZY1lGEp0OX3M1vpj4
zzxDDsfllkfHkE9O44oY+eSqzJ6JVCbZYCwDKCWy5m9FIG6i8VbreHYj.p3+
0s48zY4asCb2xZ9C56xof6ezKk+zcbb6np.Ykdz

[2021-12-01 09:41] maccallum commented on #429
Apparently an issue in Max. Reported to Cycling and should be fixed in their next release.

[2021-12-01 09:41] #429 closed

[2021-12-01 09:57] maccallum commented on #428
This is/was caused by duplicate symbols. o.route, o.select, and o.atomize all share the same code, and their functions all begin with the same prefix (oroute_). It seems that these libraries are being loaded differently on OS X and Linux. I added a quick fix that mangles the function names to make them unique for the different objects.

[2021-12-01 09:57] #428 closed

[2021-12-01 14:58] maccallum commented on #426
Hi @alexmstahl--sorry for the slow response! I wasn't able to reproduce the crash you were getting, but there were some serious performance issues with o.slip.decode, which have been fixed, bringing it in line performance-wise with slipOSC.

You may have moved on from this, but if it's possible for you to fire up that teensy and check this, the build is here: https://github.com/CNMAT/CNMAT-odot/re

[2021-12-01 14:58] #426 closed

[2022-01-26 17:56] wagne342 commented on #428
@maccallum FYI, I just resolved a similar issue with randdist, which was throwing duplicate symbols for various architectures on compile. Apparently, updating the Xcode project flipped the switch on `Apple Clang - Code Generation > No Common Blocks` from "No" to "Yes".  Switching this back to "No" in the Xcode project allows build without the Duplicate Symbols error.

[2022-02-03 19:42] smatting opened #430 "blob deserialization broken"
Messages containing blob atoms will break all following atoms.
I think this is because the deserializtion doesn't take the padding bytes into account.

How to reproduce:

1. Create a bundle
2. Add message with address `/a`
3. Append a blob of length 3 with data `01 02 03` (hex)
4. Append another blob of length 257 with data `99 99 ...`

This serializes to
[code]
Notice how the first blob is padded

[2022-02-03 23:10] maccallum commented on #430
Thanks for catching that, and for such a helpful report! I've just pushed a fix to master.

[2022-02-04 08:11] smatting commented on #430
Great! Thank you for fixing this so quickly!

[2022-02-04 08:11] #430 closed

[2022-09-27 02:00] wagne342 opened #431 "Null Coalescing operator produces incorrect results"
In version 13 the "??=" operator seems to be improperly parsed if there is an expression to the right of the '??=' operator.

<pre><code>
----------begin_max5_patcher----------
559.3ocwV0zabBCD8L7qvxmZq1PvvxGajpxsdt2qpV40LIwIfMx1jRTT9uWi
A1vlPZooaRt.ZFFl27d7FKt22CuS1BZL5LzOPdd26644R0kvaH1CWQaYkTsq
LLSVUABCdU+yLPqwkWzTVhXRZYInYfFYjHtfIUJfYPJP2Tt+cpsg1VPMboXa
IW.LYiv0kngJ3EtdJ2c8IDx3qIZpjMlRv3FjvwlQ